*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  overflow-x: hidden;
}

body{
  background-color: #555555;
  color: white;
  font-family: "Oswald", sans-serif;
}

/* Cabeçalho */
header{
  color: #ecf0f1;
  background-color: #B22222;
  padding: 16px 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

header nav li{
  display: inline;
  margin-left: 16px;
  font-size: 18px;
}

header li a{
  text-decoration: none;
  color: #ecf0f1;
}

.cabeçalho{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* PRIMEIRA <SECTION> */
section .grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
section .conteudo{
  padding: 14px;
  font-family:"Poppins", sans-serif;
  
}
section h2{
  text-align: center;
  padding: 36px;
}

.wwe img{
  max-width:100% ;
  padding: 14px;
}

/* SEGUNDA <SECTION> */
.astros{
  text-align: center;
}
.astros li{
  display: inline;
  padding: 14px;
}
.astros img{
  height: 360px;
  transition: transform 0.2s ease-in-out;
  padding: 12px;
}

.astros img:hover{
  background-color: #B22222;
  animation: pulse 0.5s infinite alternate;
  transform: scale(1.1);
  cursor: pointer;
}

a{
  text-decoration: none;
}

/* TERCEIRA <SECTION> */
.formulario{
  padding: 14px;
  text-align: center;
  display: none;
}

form button, 
form input,button{
  display: block;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 14px;
  border-radius: 20px;
}
form button,
button{
  background-color: #B22222;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover{
  background-color: #D9534F;
}

input:focus, textarea:focus{
 outline-color: #B22222;
}

@media (max-width: 640px) {
  header {
    padding: 10px;
  }
  .cabeçalho {
    flex-direction: column;
    padding: 0 16px;
  }
  header nav li {
    display: block;
    margin: 8px 0;
    text-align: center;
  }

  /* Ajustes na primeira seção */
  section .grid {
    grid-template-columns: 1fr;
  }
  section h2 {
    padding: 20px;
    font-size: 24px;
  }
  .conteudo {
    padding: 10px;
  }

  /* Ajustes para os astros */
  .astros img {
    height: 150px;
  }

  /* Formulário */
  .formulario {
    padding: 10px;
  }

  form button, form input, button {
    width: 100%;
    max-width: 300px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  header {
    padding: 15px;
  }
  .cabeçalho {
    padding: 0 32px;
    max-width: 100%;
    width: 100vw;
  }
  .astros li img {
    height: 210px;
  }
}





